<div id="wrapper1">
    <h1 style="color:rgb(245, 234, 88); text-align:center">Saved News Scraper</h1>
    <h2 style="color:rgb(212, 30, 39); text-align:center"><i>News articles from The New York Time</i></h2>
    <button type="button" class="scrape btn btn-warning">Scrape</button>
    <div id="savedarticles"></div>
    <div id="notes"></div>
    {{!-- <div class="jumbotron mt-3" id="message">
        <h2>Message log</h2>
    </div> --}}

     <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="results-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Comment</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="address"></div>
                    <!-- <div id="div-img"> -->
                    <!-- <img id="match-img" src="https://placekitten.com/300/300" alt=""> -->
                    <!-- <div style="width: 470px; height: 480px" id="mapContainer"></div> -->
                    <!-- </div> -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>