    body { 
        /* background-color: rgb(213, 255, 134)  */
        background-image: url("../img/news.png");
        font-family: Georgia, Times, "Times New Roman", serif;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .scrape{
      width:100%;
      margin:20px
    }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }      
      /* #savedarticles  */

      #articles 
      {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      #message{
        display: inline-block;
        overflow: auto;
        width: 100%;
        height: 300px;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
      img {
        width: 300px;
      }